/* Styles pour le corps de la page */
body {
    font-family: 'Comic Sans MS', cursive;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* En-tête */
header {
    background-color: #ffcc00; /* Jaune */
    color: #333;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

/* Sections */
section {
    padding: 50px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 2em;
    text-transform: uppercase;
    color: #ffcc00; /* Jaune */
    margin-bottom: 20px;
    text-align: center;
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


